{% extends 'author/layout.html.twig' %}

{% block header_content %}<h1>{{ author.name }}</h1>{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="media">
                <p>{{ author.biography }}</p>
                <ul>
                    {% for ne in author.news %}
                        <li>
                            <a href="{{ path('news_show', {'id':ne.id}) }}">
                                <h2 class="badge badge-info">{{ ne.title }}</h2>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}